<header>
  <div class="header-logo">
    ファーストツール株式会社
  </div>
  <ul class="header-menus">
    
  </u>
  <ul class="header-menus">
    <li><a href="/">TopPage</a></li>
    <li><a href="/about">会社ホームページ</a></li>
    <li><a href="#">社内コミュニケーション</a></li>
  </u>
</header>

<div class="about-main">
  <h2>会社概要</h2>
  <p>
    会社概要・会社概要・会社概要・会社概要・会社概要・会社概要
  </p>

  <img class="about-img"src="/ft.jpg">
</div>
