<header>
  <div class="header-logo">
    ファーストツール株式会社
  </div>

  <ul class="header-menus">
    <li><a href="/">TopPage</a></li>
    <li><a href="/about">会社ホームページ</a></li>
    <li><a href="#">社内コミュニケーション</a></li>
  </u>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>ファーストツール株式会社 </h2>
    <p>特殊超硬工具</p>
  </div>
</div>
